<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
    <servlet>
        <description>Web Service IDFedValidateWellKnownFactsResponseProxyPort</description>
        <display-name>Web Service IDFedValidateWellKnownFactsResponseProxyPort</display-name>
        <servlet-name>IDFedValidateWellKnownFactsResponseProxyPort</servlet-name>
        <servlet-class>ora.pt.cons.igif.services.ws.federacao.IDFedValidateWellKnownFactsResponseProxyTypeImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>IDFedValidateWellKnownFactsResponseProxyPort</servlet-name>
        <url-pattern>IDFedValidateWellKnownFactsResponseProxyPort</url-pattern>
    </servlet-mapping>
</web-app>
